In-Class
Bagımsız Örnekler T Testi
2 degısken vardır
Bagımlı  Örnekler T Testi
Tek grup 2 farklı zaman dilimi
Anova
2'den fazla grup
Bagımsız Gruplar olacak
Varyanslar homojen olmalı

In [ ]:
Populasyon std bilinirse z bilinmezse t testi
alpha < p.valur ise 0 hipotezi kabul edilir
alpha > p.value ise alternatif hipotez kabul edilir
tip 1 hata h0 dogru iken reddedersek
tip 2 hata alternatif dogru iken h0'ı kabul etmek

# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk. 
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

In [1]:
import pandas as pd
import scipy.stats as stats

In [ ]:
#HO: mü1 = mü2
#H1: mü1 ≠ mü2

In [2]:
df = pd.read_csv("arsenic.csv")
df

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [3]:
df.x1.mean()

12.5

In [4]:
df.x2.mean()

27.5

In [6]:
indTest = stats.ttest_ind(df.x1, df.x2)

In [7]:
indTest.statistic

-2.7669395785560553

In [8]:
indTest.pvalue

0.012704425122128032

In [9]:
alpha = 0.05
if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

**0 hipotezi reddedilir aralarında anlamlı bır fark vardır**

# Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data. 
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20. 
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect). 
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05

In [11]:
prozac = pd.read_csv("prozac.csv")
prozac

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

H0: dbar = 0

H1: dbar > 0

In [13]:
stats.ttest_rel(prozac.moodpre, prozac.moodpost, alternative="less")

Ttest_relResult(statistic=-3.1428571428571423, pvalue=0.006872912197394246)

In [15]:
stats.ttest_rel(prozac.moodpost, prozac.moodpre, alternative="greater")

Ttest_relResult(statistic=3.1428571428571423, pvalue=0.006872912197394246)

**Anlamlı bir fark var prozac fayda saglamıs**

## One-way ANOVA

In the sample dataset, the variable Sprint is the respondent's time (in seconds) to sprint a given distance, and Smoking is an indicator about whether or not the respondent smokes (0 = Nonsmoker, 1 = Past smoker, 2 = Current smoker). Let's use ANOVA to test if there is a statistically significant difference in sprint time with respect to smoking status. Sprint time will serve as the dependent variable, and smoking status will act as the independent variable.

The null and alternative hypotheses of one-way ANOVA can be expressed as:

H0: µ0 = µ1 = µ2   ("all k population means are equal")

H1: At least one µi different  ("at least one of the k population means is not equal to the others")

In [18]:
pd.set_option("display.max_columns", None)

In [19]:
students = pd.read_csv("students_2014.csv")
students.head()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,Smoking,Sprint,MileMinDur,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,,,,,0,0,72.35,,0,7.978,,88.24,81.5,60.02,81.44,In state,1,,,7,1
1,20278,1/1/1995,,,,Philosophy,0,0,70.66,179.2,0,8.004,0:06:21,89.45,85.25,70.19,73.27,,1,,,5,2
2,20389,12/31/1994,,,,,0,0,70.68,198.52,0,,0:07:00,96.73,86.88,71.2,84.24,In state,,,,8,7
3,22820,12/1/1994,,,,business administration,1,0,,198.34,,8.473,0:12:44,74.06,88.68,55.89,73.16,In state,1,,,2,6
4,24559,11/10/1994,,,,,1,1,67.43,128.17,2,,0:06:25,82.61,77.3,65.52,80.45,Out of state,1,,,7,3

In [27]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ids           435 non-null    int64
 1   bday          435 non-null    object
 2   enrolldate    435 non-null    object
 3   expgradate    435 non-null    object
 4   Rank          435 non-null    object
 5   Major         434 non-null    object
 6   Gender        435 non-null    object
 7   Athlete       435 non-null    int64
 8   Height        435 non-null    object
 9   Weight        435 non-null    object
 10  Smoking       435 non-null    object
 11  Sprint        435 non-null    object
 12  MileMinDur    435 non-null    object
 13  English       435 non-null    object
 14  Reading       435 non-null    object
 15  Math          435 non-null    object
 16  Writing       435 non-null    object
 17  State         435 non-null    object
 18  LiveOnCampus  435 non-null    object
 19  HowCommute    435 non-null    object
 20  CommuteTime   435 non-null    object
 21  SleepTime     435 non-null    object
 22  StudyTime     435 non-null    object
dtypes: int64(2), object(21)
memory usage: 78.3+ KB

In [29]:
students.Smoking = pd.to_numeric(students.Smoking, errors = "coerce")
students.Sprint = pd.to_numeric(students.Sprint, errors = "coerce")

In [32]:
students = students[["Sprint", "Smoking"]].dropna()
students

     Sprint  Smoking
0     7.978      0.0
1     8.004      0.0
5     4.650      0.0
6     4.750      0.0
8     6.279      0.0
..      ...      ...
428   7.819      0.0
429   7.036      0.0
431   9.125      0.0
433   6.905      2.0
434   6.233      1.0

[353 rows x 2 columns]

In [38]:
students.Smoking.unique()

array([0., 2., 1.])

In [ ]:
#HO mü0=mü1=mü2
#H1 en az biri farklı olabilir

In [37]:
stats.f_oneway(students[students["Smoking"]==0]["Sprint"], students[students["Smoking"]==1]["Sprint"], students[students["Smoking"]==2]["Sprint"])

F_onewayResult(statistic=9.208599845380919, pvalue=0.00012659768158159465)

**HO red edilir en az H1 kabul edilir. Aralarından biri anlamlıdır**

# EK

In [39]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [41]:
mod = ols("Sprint ~C(Smoking)", data = students).fit()

sm.stats.anova_lm(mod, type = 1)

               df      sum_sq    mean_sq       F    PR(>F)
C(Smoking)    2.0   26.788189  13.394095  9.2086  0.000127
Residual    350.0  509.082077   1.454520     NaN       NaN