In [216]:
import pandas as pd
import numpy as np

In [215]:
df = pd.read_csv("sales_082020.csv")
df1 = pd.read_csv("currency_rates_082020_EUR.csv")

In [218]:
display(df.head(), df1.head())

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

### 1. How many rows in the sales dataset?

In [221]:
df.shape[0]

237671

### 2. How many columns in the sales dataset?

In [220]:
df.shape[1]

10

### 3.What is the total number of sellers?

In [222]:
df.seller_id.nunique()

114227

### 4. What is the total value of sales in EUR?

In [223]:
df.date = pd.to_datetime(df.date)
df1.date = pd.to_datetime(df1.date)

In [224]:
df2 = pd.merge(df, df1, on = ["currency", "date"])
df2.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [225]:
df2["Total"] = df2.price / df2.rate
df2.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,Total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [227]:
round(df2.Total.sum())

6471511

### 5. Which brand has the highest number of purchases during the period?

In [230]:
df2.brand.value_counts(ascending=False).head(1).index

Index(['Nike'], dtype='object')

### 6. How many items in the “Jewellery” category have no brand associated with them?

In [277]:
df2[df2.category == "Jewellery"].brand.isnull().sum()

13525

### 7. How many brands have between 35 and 55 transactions (inclusive)?

In [256]:
((df2.brand.value_counts() >= 35) & (df2.brand.value_counts() <= 55)).sum()

81

### 8. How many pairs of shoes were purchased by Australian (AU) buyers?

In [261]:
((df2.buyer_country == "AU") & (df2.category == "Shoes")).sum()

658

### 9. Which brand has the highest average transaction value?

In [265]:
df2.groupby("brand").Total.mean().sort_values(ascending=False).head(1)

brand
Goyard    338.926936
Name: Total, dtype: float64

### 10. What is the total value of items purchased by GB buyers from GB sellers?

In [269]:
round(df2[(df2.buyer_country == 'GB') & (df2.seller_country == 'GB')].Total.sum())

3526745

### 11. What percentage of US sellers' transactions were purchased by US buyers?

In [274]:
round(df2[(df2.buyer_country == 'US') & (df2.seller_country == 'US')].Total.sum() / df2[df2.seller_country == 'US'].Total.sum() * 100, 2)

95.97